h1 {
  font-family: "Helvetica", monospace;
  color: #2D4638;
}

h2 {
  font-family: "Helvetica", monospace;
  color: #2D4638;
}

p {
  font-family: sans-serif;
  color: #555555;
}

li {
  background-color: #DDDDDD;
  border: 1px solid #111111;
  margin-bottom: 5px;
}

.title {
  font-family: sans-serif;
  color: #2D4638;
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #111111;
  background-color: #DDDDDD;
  /*border-radius: 10% 10% 10% 10%;*/
}


body {
  background-color: #2D4638;
}