body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      text-align: justify;
      background-color: #f5f5f5;
}
    
h1 {
      text-align: center;
      font-size: 35px;
      color: #2D4638;
      text-decoration: underline;
    }

h2 {
      color: #2D4638;
    }

.column {
    float: left;
    margin:10px;
    padding:20px;
    background-color:#fcfcfc;
}
  
.left {
  width: 25%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

personal_pic {
    margin-left:60px;
    height:300px;
    z-index: 2;
    position:absolute;
    float:left;
    padding-top:20px;
  }

header {
      background-color: #2D4638;
      color: #fcfcfc;
      padding: 20px 60px;
      height:200px;
      text-align: right;
      position:normal;
      width:100% - 60px;
    }

#name {
      margin-right: 60px;
      margin-top: 30px;
      font-size: 60px;
      color: #fcfcfc;
      font-family:ui-rounded;
      top: 0px;
}

nav {
      background-color: #5B6E64;
      color: #fcfcfc;
      padding: 0px;
      text-align: center;
      position:sticky;
      position:webkit-sticky;
      top: 90px;
      width:100%;
    }

#navbar {
      background-color: #5B6E64;
      color: #fcfcfc;
      padding: 10px;
}

#navname {
      padding-right: 60px;
      margin-right: 0px;
      font-size: 60px;
      color: #fcfcfc;
      font-family:ui-rounded;      
      position:sticky;
      position:webkit-sticky;
      top: 0px;
      background-color: #2D4638;
      text-align: right;
      z-index: 0;
}
    
a:link {
      color: #2D4638;
      background-color: transparent;
      text-decoration: none;
    }
    
a:visited {
      color: #2D4638;
      background-color: transparent;
      text-decoration: none;
    }

nav a {
      color: #fcfcfc;
      margin: 0 15px;
      text-decoration: none;
      font-weight: regular;
    }
    
nav a:link {
      color: #fcfcfc;
    }
    
nav a:visited {
      color: #fcfcfc;
    }

nav a:hover {
      text-decoration: underline;
    }

footer {
      text-align: center;
      padding: 20px;
      color: #2D4638;
    }


@media screen and (width<= 800px) {
  .column {
    width: 80%;
    margin:5%;
  }
  
  personal_pic {
    background-color: #2D4638;
    color:#2D4638;
    text-align:center;
    top:0;
    left:0;
    right:0;
    margin-left:0px;
    width: 100% - 60px;
  }
  
  header {
      background-color: #2D4638;
      color: #fcfcfc;
      padding: 10px 5%;
      text-align: right;
      position:normal;
      z-index: -1;
      width:90%;
    }
  
  nav {
      background-color: #5B6E64;
      color: #fcfcfc;
      padding: 0px;
      text-align: center;
      position:sticky;
      position:webkit-sticky;
      top: 60px;
    }

  #navbar {
      background-color: #5B6E64;
      color: #fcfcfc;
      padding: 10px;
  }
  
  #name {
      font-size: 40px;
}

  #navname {
      font-size: 40px;
      color: #fcfcfc;
      font-family:ui-rounded;      
      position:sticky;
      position:webkit-sticky;
      background-color: #2D4638;
      text-align: center;
      margin-top:310px;
      z-index: 0;
      padding-left:0px;
      padding-right:0px;
      width:100% - 60px;
  }
}